html {
  /*background-color: rgb(83, 80, 87);*/
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: url(/upload/fundo.jpg) no-repeat left top;
  background-size: cover;
  position: fixed;
}

body {
  height: 100%;
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.Retangle {
  background-color: #696969;
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  border-style: solid;
  border-color: #4f4f4f;
  border-radius: 3%;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0,0,0,.5));
}

.Profile {
  height: 25px;
  width: 675px;
  padding: 15px 0px 0px;
}

.Photo {
  height: 190px;
  width: 190px;
  border-color: #3d3d3d;
  border-style: solid;
  border-radius: 50%;
  background-image: url(/upload/3X4.jpg);
  background-position: 50% 100%;
  background-size: 100%;
  float: left;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0,0,0,.5));
}

.SocialIcon {
  height: 239px;
  width: 452px;
  border-width: 3px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.SocialIcon .bi-discord {
  color:black;
  font-size: 60px;
}

.SocialIcon .bi-discord:hover {
  color: rgb(88, 101, 242);
  font-size: 60px;
}

.SocialIcon .bi-instagram {
  -webkit-text-fill-color:black;
  font-size: 60px;
}

.SocialIcon .bi-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}

.SocialIcon .bi-linkedin {
  color:black;
  font-size: 60px;
}

.SocialIcon .bi-linkedin:hover {
  color:#0072b1;
  font-size: 60px;
}

.SocialIcon .bi-github {
  color:black;
  font-size: 60px;
}

.SocialIcon .bi-github:hover {
  color:white;
  font-size: 60px;
}

.SocialIcon .bi-envelope {
  color:black;
  font-size: 60px;
}

.SocialIcon .bi-envelope:hover {
  color: 	#f2a60c;
  font-size: 60px;
}

.Title {
  box-sizing: inherit;
  width: 400px;
  height: 59px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  font-size: 17px;
  padding: 0px 23px 0px;
  font-weight: bold;
}

.Bio {
  box-sizing: inherit;
  width: 400px;
  height: 300px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  font-size: 15px;
  padding: 0px 23px 0px;
}

.Divider{
  border-color: white;
}